@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Fonts */
  --font-sans: var(--font-lato), var(--font-geist-sans), sans-serif;
  --font-heading: var(--font-kelson-sans), var(--font-geist-sans), sans-serif;
  
  /* ESN Colors */
  --color-esn-cyan: #00aeef;
  --color-esn-magenta: #ec008c;
  --color-esn-green: #7ac143;
  --color-esn-orange: #f47b20;
  --color-esn-dark-blue: #2e3192;
}


body {
  background: var(--background);
  color: var(--foreground);
}
